.section_title {
  font-weight: $fw-semi;
  line-height: 1.25;
  color: $text;

  @include rem(font-size, 40px);
  @include rem(margin-bottom, 12px);
}

.section_subtitle {
  line-height: 1.59;
  text-align: left;
  color: rgba($secondary, .6);

  @include rem(font-size, 22px);
}

.page_auth {
  .section--padding {
    @include rem(padding, 96px 0)
  }

  .header_logo {
    width: auto;
    margin-top: 0;

    @include rem(margin-bottom, 60px);
  }

  .section_header {
    max-width: 350px;
    padding: 0;
    border: 0;

    @include rem(margin-top, -10px);
    @include rem(margin-bottom, 30px);
  }

  .logos {
    cursor: default;

    @include rem(margin-bottom, 40px);

    img {
      @include rem(margin-right, 18px);
    }
  }

  h4 {
    @include rem(font-size, 22px);
    @include rem(margin, 0 0 18px);
  }

  .hint {
    @include rem(margin, 15px 0);
    @include rem(font-size, 14px);

    color: #8c94a0;

    a {
      color: #3f4d60;
    }
  }

  .lead {
    line-height: 1.56;
    color: rgba($secondary, .8);

    @include rem(font-size, 16px);
    @include rem(margin-bottom, 22px);
  }

  @media all and (max-width: $screen-landscape) {
    .section--padding {
      padding: 50px 0
    }
  }
}

.hint_accent {
  line-height: 1.85;
  text-align: left;
  color: rgba($secondary, .6);
  text-transform: uppercase;
  display: block;

  @include rem(font-size, 13px);
  @include rem(margin-bottom, 10px);
  @include rem(letter-spacing, 2.4px);

  + h4, + .h4 {
    @include rem(margin-top, -10px);
    @include rem(margin-bottom, 5px);
  }
}

.hr_or {
  text-align: center;
  position: relative;

  @include rem(margin, 28px 0);

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    border-bottom: 1px solid #ebedef;
    top: 50%;
    margin-top: -1px;
    z-index:1;
  }

  span {
    display: inline-block;
    line-height: 1.43;
    text-align: center;
    color: #8c94a0;
    position: relative;
    z-index:2;
    background-color: $white;

    @include rem(padding, 0 15px);
    @include rem(font-size, 14px);
  }
}

.label_error {
  line-height: 1.54;
  text-align: left;
  color: #ff3e2e;

  @include rem(font-size, 13px);
  @include rem(margin-top, 5px);
}